.site__main {
	width: 100%;
	height: auto;
}

.video__section {
	width: 100%;
	height: 898px;
	background-image: url("../img/bg-video.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom 100%;
	margin-top: -120px;
	position: relative;
	margin-bottom: 100px;
	z-index: 2;
}

.video__header {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.vider__wrapper {
	width: 100%;
	height: auto;
	position: relative;
}

.advantage__man {
	position: absolute;
	bottom: -100px;
	right: -140px;
}

.video {
	width: 500px;
	height: 350px;
	background-image: url("../img/video.jpg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	iframe {
		width: 100%;
		height: 100%;
	}
}

.video__title {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 100%;
	text-align: right;
	color: #FFFFFF;
	width: 233px;
	span {
		font-size: 100px;
		line-height: 100%;
	}
}

.video__info {
	width: 500px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.video__info-title {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.video__info-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
}

.advantage__wrapper {
	width: 500px;
	height: 230px;
	display: flex;
	position: relative;
}

.advantage {
	margin-right: 30px;
}

.advantage__logo {
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, #40DDFF 0%, #4053FF 100%);
	cursor: pointer;
	position: relative;
	transition: 0.3s ease;
	z-index: 1;
}

.advantage.active {
	.advantage__logo {
		width: 100px;
		height: 100px;
		background: linear-gradient(180deg, #FFE040 0%, #FF9C40 100%);
	}
	.advantage__logo:before {
		width: 100px;
		height: 100px;
		position: absolute;
		background: linear-gradient(180deg, #FFE040 0%, #FF9C40 100%);
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.8s ease;
	}
	.advantage__logo-img {
		width: auto;
		height: 50px;
	}
}

.advantage__logo:before {
	content: "";
	width: 80px;
	height: 80px;
	position: absolute;
	background: linear-gradient(0deg, #40DDFF 0%, #4053FF 100%);
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.8s ease;
}

.advantage__logo-img {
	position: relative;
	z-index: 3;
	width: 35px;
	transition: 0.3s ease;
}

.advantage__logo-3 {
	.advantage__logo-img {
		width: 38px;
	}
}

.advantage__logo:hover {
	&:before {
		opacity: 1;
	}
}

.advantage__block {
	width: 500px;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.6s ease;
}

.advantage.active {
	.advantage__block {
		opacity: 1;
		visibility: visible;
	}
}

.advantage__title {
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #FFA640;
	margin-bottom: 10px;
}

.advantage__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
}

.info__section {
	width: 100%;
	height: auto;
	position: relative;
}

.info__dots {
	position: absolute;
}

.info__dots-1 {
	transform: rotate(90deg);
	top: 230px;
	left: -40px;
}

.info__dots-2 {
	right: -100px;
	bottom: -150px;
}

.info__section:before {
	content: "";
	width: 1800px;
	height: 1220px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-image: url("../img/info-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.info__wrapper {
	width: 100%;
	heigth: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.info__left {
	width: 550px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info__title {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
	color: #FFFFFF;
	margin-bottom: 50px;
}

.informations {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.information {
	width: 250px;
	height: auto;
	margin-bottom: 50px;
}

.information__number {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	line-height: 100px;
	color: #FFE040;
	margin-bottom: 10px;
}

.information__title {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #FFA640;
	margin-bottom: 10px;
}

.information__text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
}

.info__slider-wrapper {
	width: 1000px;
	position: absolute;
	top: 0;
	left: 50%;
	//margin-left: 50px;
}

.info__slider {
	width: 100%;
	height: 630px;
}

.info__slide {
	width: 450px;
	height: 630px;
	position: relative;
}

.info__slide-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	pointer-events: auto;
}

.slick-arrow {
	transition: 0.3s ease;
}

.slick-prev {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6.5px 15px 6.5px 0;
	border-color: transparent #fff transparent transparent;
	top: auto;
	left: auto;
	bottom: -60px;
	left: 130px;
	z-index: 10;
	&:before {
		display: none;
	}
}
.slick-prev:hover {
	border-color: transparent #FF004C transparent transparent;
}

.slick-next {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6.5px 0 6.5px 15px;
	border-color: transparent transparent transparent #fff;
	top: auto;
	left: auto;
	bottom: -60px;
	left: 350px;
	z-index: 10;
	&:before {
		display: none;
	}
}

.slick-next:hover {
	border-color: transparent transparent transparent #FF004C;
}

.slick-dots {
	bottom: -55px;
	width: 450px;
	margin-left: 25px;
	li {
		width: auto;
		height: auto;
		margin: 0 5px;
		button {
			width: 10px;
			height: 10px;
			border: 1px solid #FFFFFF;
			border-radius: 100%;
			transition: 0.3s ease;
			&:before {
				display: none;
			}
		}
	}
	li.slick-active {
		button {
			width: 15px;
			height: 15px;
			border: none;
			box-sizing: border-box;
			background-color: #FF004C;
		}
	}
}













