@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.woff"); 
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.woff");
}

@font-face {
    font-family: "Bebas Neue";
    font-weight: bold;
    src: url("../fonts/bebas-neue-bold.woff");
}

@font-face {
	font-family: "Bebas Neue";
	font-weight: normal;
	src: url("../fonts/BebasNeue-Regular.woff");
}
