.site__header {
	width: 100%;
	height: auto;
	background-image: url("../img/header-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.header__dots {
	position: absolute;
}

.header__dots-1 {
	left: 160px;
	top: 60px;
}

.header__dots-2 {
	transform: rotate(90deg);
	top: 475px;
	right: -140px;

}

.header__wrapper {
	width: 1025px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin-bottom: 236px;
}

.header__boot {
	position: absolute;
	top: 300px;
	left: 0;
}

.header__man {
	position: absolute;
	right: 0;
	top: 31px;
}

.sale {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: rgba(255, 0, 76, 0.5);
	position: absolute;
	top: 336px;
	left: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		font-family: "Bebas Neue";
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 48px;
		color: #FFFFFF;
	}
}

.header__logo {
	margin: 50px auto 70px;
}

.header__title {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 72px;
	color: #FDFDFD;
	margin-bottom: 21px;
}

.header__year {
	margin-bottom: 205px;
}

.header__price {
	width: 630px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.price {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.old__price {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	text-decoration: line-through;
	color: #FFFFFF;
}

.new__price {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 64px;
	color: #FF004C;
}

.header__order-btn {
	width: 250px;
	height: 60px;
	cursor: pointer;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FF004C;
	position: relative;
	z-index: 1;
	span {
		position: relative;
		z-index: 3;
		font-family: "Bebas Neue";
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: #FFFFFF;
	}
}

.header__order-btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 60px;
	background: linear-gradient(180deg, #FFE040 0%, #FF9C40 100%);
	opacity: 0;
	transition: 0.3s ease;
}

.header__order-btn:hover {
	&:before {
		opacity: 1;
	}
}



